<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Map</title>
    <link rel="stylesheet" href="static/map/css/style.css">
</head>
<body>
<!-- 地图 -->
<div id="mapContainer"></div>
<!-- 搜索框 -->
<div class="panel panel-default" id="searchBox">
    <div class="panel-body">
        <div class="form-inline">
            <button class="btn btn-default" id="menuBtn" style="outline:none">
                <img src="static/map/images/menu.png">
            </button>
            <label for="search" class="sr-only"></label>
            <input type="text" class="form-control" id="search" placeholder="请输入关键词">
            <button class="btn btn-default" id="searchBtn" style="outline:none">
                <img src="static/map/images/search.png">
            </button>
        </div>
    </div>
</div>
<!-- 右下按钮 -->
<!-- 去除bootstrap点击按钮的蓝框 -->
<button type="button" class="btn btn-success" id="genRoute" style="outline: none">
    <img src="static/map/images/distance.png">
</button>
<!-- 信息面板 -->
<div class="panel panel-default" id="infoBox">
    <div class="panel-body" style="padding-right: 0;padding-top: 2px;padding-left: 0;">
        <div id="waiting">
            <img src="static/map/images/ring-alt.gif">
            请稍后...
        </div>
        <button type="button" id="infoDismiss" class="dismiss"
                style="outline:none">
            <img src="static/map/images/close.png">
        </button>
        <ul class="list-group" id="result">
            <li class="list-group-item">时间：<span id="rtime"></span></li>
            <li class="list-group-item">花费：<span id="rcost"></span></li>
        </ul>
    </div>
</div>
<!-- 蒙版 -->
<div id="mask"></div>
<!-- 景点面板 -->
<div id="detailPanel" class="container panel panel-default">
    <div class="row">
        <button type="button" id="detailDismiss" class="dismiss"
                style="outline:none">
            <img src="static/map/images/close.png">
        </button>
    </div>
    <div class="row panel-body">
        <div class="col-md-4">
            <h3 id="detailTitle"></h3>
            <p id="introduction"></p>
        </div>
        <div class="col-md-8">
            <div id="detailImage" class="carousel">
                <ol class="carousel-indicators">
                </ol>
                <div class="carousel-inner">
                </div>
                <a class="left carousel-control" href="#detailImage" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#detailImage" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 菜单 -->
<div id="menu" class="panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">主题</div>
        <ul class="list-group" id="themePanel">
            <li class="list-group-item">全部</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">热门路线</div>
        <ul class="list-group" id="routePanel">
        </ul>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=dR2A1KVkutoP7AXxorBKVe81R9Dpepwm" type="text/javascript"></script>
<script src="static/map/js/map.js"></script>
<script src="static/map/js/ui.js"></script>
</body>
</html>